codeproject/How-to-extend-Strus-with-new-functions/src/CMakeCache.txt
codeproject/How-to-extend-Strus-with-new-functions/src/CMakeFiles/
codeproject/How-to-extend-Strus-with-new-functions/src/Makefile
codeproject/How-to-extend-Strus-with-new-functions/src/modstrus_storage_example.so
codeproject/How-to-extend-Strus-with-new-functions/src/testModStorageExample
*.txt.user
